<%- include('../partials/header') %>
<h1><%=title%></h1>


<h3 style="text-align:center;">Meet Chepe!</h3>
  <img src="images/chepe3.jpg"
     width="200" 
     height="250" />
  
  <p style="font-family:verdana;">Chepe is my dog that I got in 2021.</p>
  <p style="font-family:verdana;">He is a Bichon Poodle Mix that was born in the puppy mills. I got him from an organization that sold puppies from mill, he was with the batch that was already past it's ideal sold date. I was afraid as to what would happen to him, so me and my brother made the decision to get him. Today that organization is closed, but I am happy I could of giving him a better life. In the future, I hope to work with sheltered animals and raise awarness to puppy mills.</p>
  <p style="font-family:verdana;">Chepe's personality is like a firecracker. He loves to play and meet new people or animals. He is either full of energy is ready to just take a nap all day. He just turned 2 years old, and his training is in process. </p>




<%- include('../partials/footer') %>