<%- include('../partials/header') %>
<h1><%=title%></h1>

<h3 style="text-align:center;">Meet My Family!</h3>

  <p style="font-family:verdana;">My family is small and a bit complicated. There is my mom, grandma, my two brothers, my sister-inlaw and my nephew. I value and care about my family, but over the years I also need to learn to set boundaries with certain family members. I perfer to focus on those who share the same support for me as I do for them. Family doesn't have to be about blood related people but those who show they care for you selflesses.</p>

  <img src="images/mama-rosa.jpg"
     width="200" 
     height="250" />

    <img src="images/family2.jpg"
     width="350" 
     height="250" />

      <img src="images/family.JPEG"
     width="350" 
     height="350" />

  
  <%- include('../partials/footer') %>
