<%- include('../partials/header') %>
<h1><%=title%></h1>

<h3 style="text-align:center;">Self-Care = Self-Love!</h3>

  <p style="font-family:verdana;">In highschool, I was stuggling mentally and I wasn't treating myself with the proper love that I should have. After I graduated and spent time in isolation becuase of covid, I learned many ways on how to love yoursefl in different ways. I also reliazed that it isn't selfish to want the best thing for yourself. This is a hobby and personal practice that I wish to invested my time into.</p>

    <img src="images/self-care.jpg"
     width="200" 
     height="250" />

     <img src="images/self.jpg"
     width="300" 
     height="250" />
  <%- include('../partials/footer') %>
